@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
    background: url(https://tse2.mm.bing.net/th?id=OIP.mM2btJBsrCnwsbKroDH0uQHaEo&pid=Api&P=0&w=280&h=175);
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 140px;
	height: auto;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family:"Georgia";
	color: rgb(29, 5, 5);
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: yellow;
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: Georgia;
	user-select: none;
}
.count{
    column-count: 2;
    column-gap: 50px;
  }
.wrapper h1{
    padding-top: 100px;
}
.count img{
	box-shadow: 10px 5px 5px rgb(15, 14, 14);
}
.count1{
	column-count: 1;
    column-gap: 30px;
}
.count1 img{
	box-shadow: 10px 5px 5px rgb(15, 14, 14);
}